body {
    background: #E5E5E5;
    margin: 0;
}
#main-container{
    /*display: flex;*/
    flex-direction: column;
    /*align-items: center;*/
    padding: 40px 24px;
    gap: 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    color: #373745;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.wrapper{
    position: absolute;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    justify-content: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    top: 50%;
    margin-top: -232px;
    min-width: 300px;
    max-width: 352px;
    max-height: 464px;
}
.title {
    padding-bottom: 20px;
}
/*.signin{*/
/*    border: 0;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    padding: 12px 20px;*/
/*    gap: 8px;*/
/*    margin-top: 20px;*/

/*    width: 352px;*/
/*    height: 48px;*/

/*    background: rgba(96, 194, 170, 0.3);*/
/*    border-radius: 12px;*/

/*    flex: none;*/
/*    order: 3;*/
/*    align-self: stretch;*/
/*    flex-grow: 0;*/
/*}*/
.form_btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    margin-top: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.inputs input{
    max-width: 350px;
    resize: none;
    width: 100%;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;


    font-size: 16px;
    line-height: 24px;


    letter-spacing: 0.24px;

    color: #373745;
}
.inputs input:first-child{
    margin-bottom: 12px;
}
/*.text{*/
/*    width: 47px;*/
/*    height: 24px;*/

/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    letter-spacing: 0.24px;*/

/*    color: #FFFFFF;*/

/*    flex: none;*/
/*    order: 0;*/
/*    flex-grow: 0;*/
/*}*/